<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.tugasakhir020irham011yuni">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BacaEbookNarnia"></activity>
        <activity android:name=".BacaEbookFear" />
        <activity android:name=".BacaEbookTintin" />
        <activity android:name=".BacaEbook" />
        <activity android:name=".BacaSismik" />
        <activity android:name=".BacaAndroid" />
        <activity android:name=".KatalogBuku" />
        <activity android:name=".BacaEbook1" />
        <activity android:name=".Coba" />
        <activity android:name=".Kirim.KPERAHU23" />
        <activity android:name=".Kirim.KEDENSOR21" />
        <activity android:name=".Kirim.KMENARA19" />
        <activity android:name=".Kirim.KMAZE17" />
        <activity android:name=".Kirim.KFAULT16" />
        <activity android:name=".Kirim.KTWILIGHT14" />
        <activity android:name=".Kirim.KHUNGER13" />
        <activity android:name=".Kirim.KHHARRY12" />
        <activity android:name=".Kirim.KHaunted11" />
        <activity android:name=".Kirim.KAND8" />
        <activity android:name=".Kirim.KSQ7" />
        <activity android:name=".Kirim.KPALE6" />
        <activity android:name=".Kirim.KHH4" />
        <activity android:name=".Kirim.KHBP3" />
        <activity android:name=".DetailCheckout2.COPerahu23" />
        <activity android:name=".DetailCheckout2.COEdensor21" />
        <activity android:name=".DetailCheckout2.COMenara19" />
        <activity android:name=".DetailCheckout2.COMaze17" />
        <activity android:name=".DetailCheckout2.COFault16" />
        <activity android:name=".DetailCheckout2.COTwilight14" />
        <activity android:name=".DetailCheckout2.COHunger13" />
        <activity android:name=".DetailCheckout2.COHarpot12" />
        <activity android:name=".DetailCheckout2.COHaunted11" />
        <activity android:name=".DetailCheckout2.COAnd8" />
        <activity android:name=".DetailCheckout2.CO5Hari7" />
        <activity android:name=".DetailCheckout2.COPale6" />
        <activity android:name=".DetailCheckout2.COH4" />
        <activity android:name=".DetailCheckout2.COHP3" />
        <activity android:name=".DetailCheckout.CheckOutPerahu23" />
        <activity android:name=".DetailCheckout.CheckOutEdensor21" />
        <activity android:name=".DetailCheckout.CheckOut5Menara19" />
        <activity android:name=".DetailCheckout.CheckOutMaze17" />
        <activity android:name=".DetailCheckout.CheckOutFault16" />
        <activity android:name=".DetailCheckout.CheckOutTwilight14" />
        <activity android:name=".DetailCheckout.CheckOutHunger13" />
        <activity android:name=".DetailCheckout.CheckOutHarpot12" />
        <activity android:name=".DetailCheckout.CheckOutHaunted11" />
        <activity android:name=".DetailCheckout.CheckOutAnd8" />
        <activity android:name=".DetailCheckout.CheckOut5Hari7" />
        <activity android:name=".DetailCheckout.CheckOutPale6" />
        <activity android:name=".DetailCheckout.CheckOutHobbit4" />
        <activity android:name=".DetailCheckout.CheckOutHarpot3" />
        <activity android:name=".Kirim.KirimDaddy1" />
        <activity android:name=".DetailCheckout2.DetailCheckoutDaddyOut1" />
        <activity android:name=".DetailCheckout.DetailCheckoutDaddy1" />
        <activity android:name=".DetailSetiapBuku.DetailPerahu23" />
        <activity android:name=".DetailSetiapBuku.DetailHafalan22" />
        <activity android:name=".DetailSetiapBuku.DetailEdensor21" />
        <activity android:name=".DetailSetiapBuku.Detail5CM20" />
        <activity android:name=".DetailSetiapBuku.DetailMenara19" />
        <activity android:name=".DetailSetiapBuku.DetailBones18" />
        <activity android:name=".DetailSetiapBuku.DetailMaze17" />
        <activity android:name=".DetailSetiapBuku.DetailTheFault16" />
        <activity android:name=".DetailSetiapBuku.DetailDivergent15" />
        <activity android:name=".DetailSetiapBuku.DetailTwilight14" />
        <activity android:name=".DetailSetiapBuku.DetailHunger13" />
        <activity android:name=".DetailSetiapBuku.DetailHarpotSorcerer12" />
        <activity android:name=".DetailSetiapBuku.DetailHauntedMask11" />
        <activity android:name=".DetailSetiapBuku.DetailYellow10" />
        <activity android:name=".DetailSetiapBuku.DetailNightmareHour9" />
        <activity android:name=".DetailSetiapBuku.DetailAndThen8" />
        <activity android:name=".DetailSetiapBuku.DetailSQLite7" />
        <activity android:name=".DetailSetiapBuku.DetailThePaleHouse6" />
        <activity android:name=".DetailSetiapBuku.DetailLaskarPelangi5" />
        <activity android:name=".DetailHobbit" />
        <activity android:name=".DetailHalfBlood" />
        <activity android:name=".DetailSetiapBuku.Detail_Auguste" />
        <activity android:name=".DetailSetiapBuku.Detail_DaddyLitteGirl" />
        <activity android:name=".ScrollView" />
        <activity android:name=".ViewData" />
        <activity android:name=".SQLiteMain" />
        <activity android:name=".InstagramPromosi" />
        <activity android:name=".OurPartners" />
        <activity android:name=".DetailSetiapBuku.DetailUtama" />
        <activity android:name=".SedangdiBangun" />
        <activity android:name=".ActivityProfil" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DataMahasiswaActivity" />
        <activity android:name=".TentangAplikasi" />
        <activity android:name=".GaleriFoto" />
        <activity android:name=".SMS" />
        <activity android:name=".Jam" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Barcode" />
        <activity android:name=".Whatsapp" />
        <activity android:name=".Feedback" />
        <activity android:name=".DetailMakananBuku" />
        <activity android:name=".BukuMakanan" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivityKotlinn" />
        <activity android:name=".Detail" />
        <activity android:name=".SingleImage" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Gallery" />
        <activity android:name=".Ebook" />
        <activity android:name=".Slide" />
        <activity android:name=".Shopping" />
        <activity android:name=".DaftarBuku" />
        <activity android:name=".Komentar" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".TentangKami" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>